
body {
    min-height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
            url(./images/slow1.jpeg);
        background-position: center;
        background-size: cover;
        position: relative;
}
.hello {
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    width: 500px;
    position: relative;
    background-color: #2f363e;
    box-shadow:
        50px 50px 100px rgba(0, 0, 0, 0.25),
        10px 10px 70px rgba(0, 0, 0, 0.25),
        inset 15px 15px 200px rgba(0, 0, 0, 0.25),
        inset 15px 15px 400px rgba(255, 255, 255, 0.2),
        inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    border-radius: 30px;
    padding: 50px;
    
}
input[type="submit"] {
    padding: 15px 30px;
    background-color: #4554a0;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
   
}
.align-left {
    text-align: left;
}
input[name="First"]::placeholder {
    color: #0f7941;
    /* You can replace #999 with the color of your choice */
}